* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #4682A9;
}

.wrapper {
    color: white;
    width: 1100px;
    margin: auto;
    position: relative;
}

.menu {
    float: right;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: #91C8E4;
    z-index: 1;
    border-bottom: 1px solid #0ef;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;    
}

nav ul li {
    float: left;
}

nav ul li a {
    color: white;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Dropdown */

.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.nav-links li:hover .mega-box {
    transition: all 0.3s ease;
    top: 70px;
    opacity: 1;
    visibility: visible;
}

.mega-box {
    position: absolute;
    align-items: center;
    left: -220px;
    width: 140%;
    padding: 0 30px;
    top: 85px;
    opacity: 0;
    visibility: hidden;
}
.mega-box .content {
    border-radius: 10px;
    background: #749BC2;
    padding: 40px 10px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    box-shadow: 1px 1px 10px 0 black;
}
.mega-box .content .row {
    width: calc(25% - 30px);
    line-height: 45px;
}
.content .row img {
    margin-left: 60px;
    width: 150px;
    height: auto;
    object-fit: cover;
}

.row .mega-links li a {
    padding: 0px;
    color: white;
    font-size: 15px;
    display: block;
}